
.container-discord {
  display: flex;
  flex-direction: column;
}


.faixa1 {
  background-image: url(bg-discord.PNG);
  background-size: 100% 100%;
  color:white;

  display: flex;
  flex-direction: column;

  text-align: center;
}


.titulo {
  font: 56px Whitney-400;
  margin: 120px 0px 40px 0px;
}

.descricao {
  text-align: center;
  font: 20px Whitney-100;
  margin: 0px 25% 30px 25%;
  line-height: 33px;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 150px;
}

.botoes button {
  font: 20px Whitney-200;
  width: 310px;
  
  padding: 12px 0px;
  margin: 0px 9px;

  border-radius: 30px;
  border: none;
  outline: none;
}

.botoes button:link{
  border: 0px;
}

.dark {
  background-color: #23272A;
  color: white;
}







.faixa2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 120px 0px 100px 0px;
}

.f2-texto {
  display: flex;
  flex-direction: column;
  font: 20px Whitney-100;
  
  max-width: 380px;
  min-width: 380px;
  line-height: 35px;
}

.f2-titulo {
  font: 50px Whitney-400;
  margin-bottom: 30px;
}

.f2-imagem img {
  min-width: 300px;
  max-width: 100%;
  height: auto;
}






button {
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  color: #7289da;
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}


.dark:hover {
  color: white;
}




.f2-imagem {
  animation: fadeInUp;
  animation-duration: 1s;
}


.f2-texto {
  animation: fadeInUp;
  animation-duration: 1s;
}